.titulo-artistas {
  padding-top: 60px;
}

.horizontal-scroll {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  overflow-x: auto;
}

/* ARTIST CARD */
.artista-card {
  width: 200px;
  height: 260px;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.artista-card:hover {
  transform: translateY(-4px);
}

.artista-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.nombre-artista {
  margin-top: 8px;
}
#modalDesc {
  text-align: justify;
  padding: 0;
  margin: 15px 0;
  width: 100%;
  hyphens: auto; 
}
#modalName {
  color: var(--accent); 
}


/* BRILLO QUE SE MUEVE ALREDEDOR DEL MODAL */
.artist-modal.active .artist-modal-content {
  position: relative;
  animation: brilloCircular 3s linear infinite;
}

/* SOLO BRILLO NARANJA ALREDEDOR DEL MODAL */
.artist-modal.active .artist-modal-content {
  position: relative;
  box-shadow: 
    0 0 20px rgba(255, 122, 0, 0.3),
    0 0 40px rgba(255, 122, 0, 0.2),
    0 0 60px rgba(255, 122, 0, 0.1);

}

@keyframes pulsarBrillo {
  from {
    box-shadow: 
      0 0 20px rgba(255, 122, 0, 0.3),
      0 0 40px rgba(255, 122, 0, 0.2);
  }
  to {
    box-shadow: 
      0 0 30px rgba(255, 122, 0, 0.5),
      0 0 60px rgba(255, 122, 0, 0.3),
      0 0 90px rgba(255, 122, 0, 0.1);
  }
}