/* MAIN CONTENT */
.main-content {
  padding-top: 70px;
  padding-bottom: 90px;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--bg-main);
}

.main-content h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--bg-player);
  border-top: 1px solid #282828;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
}
