
    body {
      margin: 0;
      height: 100vh;
      background-color: #ffffff; /* estilo Spotify oscuro */
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(0, 0, 0);
    }

    .app {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    /* Logo semicircular */
    .sun {
      width: 220px;
      height: 110px;
      background: linear-gradient(to top, #ff7a00, #ff3b1a);
      border-top-left-radius: 220px;
      border-top-right-radius: 220px;
    }

    .wave img {
      height: 150px;
      width: auto;
    }

    /* Nombre */
    h1 {
      letter-spacing: 2px;
      font-weight: 600;
    }

    span {
      color: #ff7a00;
    }